@font-face {
    font-family: "Hug Me Tight";
    src: url(fonts/Hug\ Me\ Tight\ -\ OTF.otf);
}

@font-face {
    font-family: "Milky Nice.otf";
    src: url(fonts/MilkyNice.otf
}

@font-face {
    font-family: "coolvetica";
    src: url(fonts/coolvetica\ rg.otf);
}