@font-face {
    font-family: "Hug Me Tight";
    src: url(fonts/Hug\ Me\ Tight\ -\ OTF.otf);
}

@font-face {
    font-family: "Milky Nice";
    src: url(fonts/MilkyNice.otf);
}

@font-face {
    font-family: "Coolvetica";
    src: url(fonts/coolvetica\ rg.otf);
}

@font-face {
    font-family: "Arial Rounded";
    src: url(fonts/Arial\ Rounded\ Bold.ttf);
    font-size: large;
    font-weight: 1000vh;
}