
* {
    box-sizing: border-box;
    margin: 0;
}

/* Header */

header{
    display: flex;
    flex-direction: column;
}

.nav-links{
    display: flex;
    flex-direction: row;
    border: 2px red solid;
}

.background-cover{
    background-image: url(images/cover.gif); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-cover h1{
    font-size: 6vh;
    color: rgb(32, 96, 35);
    font-family: url(fonts/MilkyNice.otf);
}

/* Body */

body{
    margin: 0;
    background-color: rgb(219, 245, 208);
}

