/* color pallete: 
darkbrown: #664027
brown: #8b6a4d
lightbrown: #c09c82
lightgreen: #98a674
darkgreen: #686e41
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Milky Nice";
    letter-spacing: 0.095em;
}

/* Header */

header{
    display: flex;
    flex-direction: column;
}

.nav-links{
    width: 100%;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    background: linear-gradient(0deg, #98a674, #c1cea2);
}

.nav-links a{
    padding: 2px 10px;
    text-decoration: none;
    color: white;
    /* border: 1px red solid; */
    justify-self: center;
    text-align: center;
}

.background-cover{
    background-image: url(images/cover.gif); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-cover h1{
    font-size: 6vh;
    color: rgb(32, 96, 35);
    font-family: url(fonts/MilkyNice.otf);
}

/* Body */

body{
    margin: 0;
    background-color: #98a674;
}

