/* color pallete: 
darkbrown: #664027
brown: #8b6a4d
lightbrown: #c09c82
lightgreen: #98a674
darkgreen: #686e41
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Milky Nice";
    letter-spacing: 0.095em;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

.nav-links{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;

    padding: 10px 16px;
    margin: 0;
    list-style: none;

    background: linear-gradient(0deg, #8cadb5, #90E0EF);
}

/* keep links above the indicator */
.nav-links li{ 
    position: relative; 
    z-index: 2; 
}

.nav-links a{
    position: relative; 
    z-index: 2; 
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    border-radius: 5vh;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

/* the sliding background */
.nav-indicator{
    position: absolute;
    top: 50%;
    left: 0;
    height: 42px;

    transform: translateY(-50%);
    border-radius: 5vh;
    background: linear-gradient(0deg, #c09c82, #d1b39d);

    transition: left .5s ease, width .5s ease;
    pointer-events: none;
    z-index: 1;
}

.background-cover{
    background-image: url(../images/winter.gif); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-cover h1{
    font-size: 10vh;
    padding: 2px;
    text-align: center;
    color: #CAF0F8;
    -webkit-text-stroke: 1px #908278;
    font-family: url(fonts/MilkyNice.otf);
}

/* Body */

body{
    margin: 0;
    background: linear-gradient(40deg, #CAF0F8, #90E0EF);
    color: #c09c82;
}

.learning-outcomes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2vh;
}

.flex-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 100%;
    padding: 1vh;
    /* border: solid 2px red; */
    gap: 2vh;
}

.card {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: azure;
    padding: 2px;
    /* border: solid 2px rgb(153, 0, 255); */
}

.card h2{
    font-size: 2vh;
    color: #887668;
    text-align: center;
    padding: 1vh;
}

.card h3{
    font-size: 1.7vh;
    color: #c8b4a5;
    text-align: center;
}

.img {
    background-color: black;
    text-align: center;
    width: 90%;
    height: 20vh;
}

