@font-face {
    font-family: "DWD-Font";
    src: url("/docs/fonts/ZTBrosOskon90s-Regular.otf");
}

@font-face {
    font-family: "BringBold-Nineties";
    src: url("/docs/fonts/Bringbold\ Nineties\ Demo.otf");
}

@font-face {
    font-family: "History-Nineties";
    src: url("/docs/fonts/History\ Nineties.ttf");
}